
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.animacion{
    text-align: center;
    margin: 50px;
    font-size: 3rem;
    animation-name: brillito;
    animation-iteration-count: 3;
    animation-duration: 4s;
    animation-delay: 3s;
} 

@keyframes brillito{
    0%{
        color: blue;
    }
    25%{
        color: lightblue;
    }
    50%{
        color: green;
    }
    75%{
        color: aquamarine;
    }
    100%{
        color: blueviolet;
    }

}