header{
    background-color: $marron;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    .navbar{
        width: 60%;
        margin-right: 10px;
        ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: bold;
            justify-content: space-between;
            height: 100%;
            align-items: center;
        }

        li {
            margin: 0 15px;
        }

        a {
            text-decoration: none;
            padding: 15px 20px;
            color: $beige;   

            &:hover {
                color: $rojo; 
            }
        }  
    }
    header ul{
    display: flex;
    color: $marron;
    list-style: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    }   

    .navbar li {
        margin: 0 15px;
    }

    .navbar a {
        text-decoration: none;
        padding: 15px 20px;
    }

    .menu{
        display: flex;
        gap: 20px;
        list-style: none;
    }
    .menu a{
        color: $beige;
    }
    .logo{
        width: 60px;
        margin: 5px;
        height: auto;
    }
}

footer{
    margin: 20px;
    p{
        color: $rojo;
        font-size: 2rem;
    }

    div{
        p{
        color: $rojo;
        font-size: 2rem;
        }   
        a img{
            width: 50px;
            height: auto;
        }
    }
    img{
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    a img.logo-wsp{
        width: 50px;
        position: fixed;
        bottom: 50px;
        right: 20px;
    }
    .color-negro {
        color: black;
    }                              

}    