html{
    font-family:"Open Sans", sans-serif;
    font-size: 62.5%;
}

body{
    background-color: $beige;
    .main{
    margin-left: 10px;
    }

    section{
        h1{
            color: $rojo;
            font-size: 4rem;
            .titulo-principal{
                    text-align: center;
            }
        }
        p{
            color: $rojo;
            font-size: 2rem;
            .venta-libros{
                font-weight: bold;
                margin: 20px;
            }
        }

    }
    section{
        .presentacion{
            display: flex;
            align-items: center;
            padding: 20px;
        }
        p{
        color: $rojo;
        font-size: 2rem;
        }
        .logo-texto-index{
            width: 120px;
            height: auto;
        }
    }
    section{
        h2{
            color:$rojo;
            font-size: 3rem;
            .lo-mas-vendido{
                text-align: center;
                margin: 30px 0;
            } 
        }
        div{
            .libros{
                display: flex;
                justify-content: space-around;
            }
            div{
                h3{
                font-size: 2.5rem;
                    p{
                        color: $rojo;
                        font-size: 2rem;
                    }
                    img{
                        width: 300px;
                        height: auto;
                        }
                }
            }
        }
    }
}