header{
        .mc-navbar{
            background-color: $marron;
        }

        .mc-navbar a{
            color: $beige;
            text-decoration: none;
        }

        .custom-toggler{
            border-color: white;
        }       
        .navbar-toggler-icon{
            border-color: white;
        }
}



.main{
    margin-left: 10px;

    .margen-al-medio{
        text-align: center;
    }

    .form-mi-cuenta{
            margin: 20px;
            display: flex;
            flex-direction: column;
            gap: 40px;
        
            h3{
                font-size: 2.5rem;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 15px; 

                label {
                    font-size: 18px;
                }

                input {
                    font-size: 16px;
                    display: block; 
                    width: 100%; 
                    padding: 8px;
                    box-sizing: border-box;
                }

                button {
                    width: fit-content;
                    padding: 10px 20px;
                    font-size: 18px;
                    margin-top: 10px;
                    align-self: flex-start; 
                    cursor: pointer;
                }
            }
        
    }
}