.main{
    margin-left: 10px;
    .titulo-categorias{
        text-align: center;
        margin: 30px;
    }
    .humor{
        text-align: center;
    }
    .infantil{
        @extend .humor;
        margin: 30px;
    }
    .romance{
        @extend .humor;
        margin: 30px;
    }
    .terror{
        @extend .humor;
        margin: 30px;
    }   

    .contenedor-productos{
        display: flex;
        justify-content: center;
        gap: 40px; 
        flex-wrap: wrap; 
        margin: 20px 0;
    }
    .producto{
        @extend .humor;
        max-width: 200px;
        h3{
            font-size: 2.5rem;
        }
        p{
            color: $rojo;
            font-size: 2rem;
        }
    }
    .producto img {
        width: 100%;
        height: auto;
        border-radius: 8px;   
    }
    .contenedor-grid img{
        width: 80%;
        height: 80%;
        box-shadow: -1px 8px 42px 0px rgba(0,0,0,0.74);
        border-radius: 8px;
    }

    .contenedor-grid{
        display: grid;
        grid-template-areas: 
            "titulo titulo titulo"
            "img1 texto1 img2"
            "img3 texto2 img2"
            "img3 texto3 texto3";
        grid-template-columns: 25% 35% 40%;
        grid-template-rows: 200px 250px 200px 150px;
        justify-content: center;
        justify-items: center;
        align-items: center;   
    }   

    .grid-titulo{
        grid-area: titulo;
    }

    .grid-texto-1{
        grid-area: texto1;
    }

    .grid-texto-2{
        grid-area: texto2;
    }

    .grid-texto-3{
        grid-area: texto3;
    }


    .grid-img-1{
        grid-area: img1;
    }


    .grid-img-2{
        grid-area: img2;
    }


    .grid-img-3{
        grid-area: img3;
    }

}