.main{
    margin-left: 10px;
    .titulo-categorias{
        text-align: center;
        margin: 30px;
    }
    .humor{
        text-align: center;
    }
    .infantil{
        @extend .humor;
        margin: 30px;
    }
    .romance{
        @extend .humor;
        margin: 30px;
    }
    .terror{
        @extend .humor;
        margin: 30px;
    }   

    .contenedor-productos{
        display: flex;
        justify-content: center;
        gap: 40px; 
        flex-wrap: wrap; 
        margin: 20px 0;
    }
    .producto{
        @extend .humor;
        max-width: 200px;
        h3{
            font-size: 2.5rem;
        }
        p{
            color: $rojo;
            font-size: 2rem;
        }
    }
    .producto img {
        width: 100%;
        height: auto;
        border-radius: 8px;   
    }
}