html {
  font-size: 62.5%;
  font-family: $fuente;
}

body {
  background-color: $beige;
  margin: 0;
  padding: 0;
}


.main{
    margin-left: 10px;
}

.contenedor-grid{
    display: grid;
    grid-template-areas: 
        "titulo titulo titulo"
        "img1 texto1 img2"
        "img3 texto2 img2"
        "img3 texto3 texto3";
    grid-template-columns: 25% 35% 40%;
    grid-template-rows: 200px 250px 200px 150px;
    justify-content: center;
    justify-items: center;
    align-items: center;   
}

h1.grid-titulo {
    grid-area: titulo;
    font-size: 4rem;
    color: $rojo;
}

p {
    font-size: 1.6rem;
    color: $gris;
    padding: 1rem;
}


.contenedor-grid img{
    width: 80%;
    height: 80%;
    box-shadow: -1px 8px 42px 0px rgba(0,0,0,0.74);
    border-radius: 8px;
}
   
    
.grid-titulo{
    grid-area: titulo;
}

.grid-texto-1{
    grid-area: texto1;
}

.grid-texto-2{
    grid-area: texto2;
}

.grid-texto-3{
    grid-area: texto3;
}


.grid-img-1{
    grid-area: img1;
}


.grid-img-2{
    grid-area: img2;
}


.grid-img-3{
    grid-area: img3;
}

img {
    width: 80%;
    height: auto;
    box-shadow: -1px 8px 42px 0px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}